<div class="main_sec sec_padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" size-lg="6" offset-md="2" offset-lg="3">
        <h2 class="ion-margin-bottom">
          Discover the magic of our surprise box
        </h2>
        <p color="light" class="ion-margin-bottom">
          Unleash your child's curiosity with our educational subscription
          box filled with fun and learning.
        </p>
        <ion-button class="ion-margin-bottom" [routerLink]="['/subscribe']" routerLinkActive="router-link-active" >Subscribe Now</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="10" offset-lg="1">
        <ion-img src="assets/mainSec-img.png" alt="main section image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>