<div class="summary_inner">
  <p>Of your Monthly Surprise Box</p>
  <!-- Mystery Box  -->
  <div class="mystery_box">
    <div>
      <h2 class="title">Mystery Box</h2>
      <p class="quantity">X 1</p>
    </div>
    <div>
      <h2 class="price">SAR <strong>456</strong></h2>
      <p class="billing">Monthly</p>
    </div>
  </div>
  <!-- Subtotal -->
  <div class="mystery_box">
    <div>
      <h2 class="title">Subtotal</h2>
    </div>
    <div>
      <h2 class="price">SAR <strong>456</strong></h2>
    </div>
  </div>
  <!-- Shipping -->
  <div class="mystery_box">
    <div>
      <h2 class="title">Shipping</h2>
    </div>
    <div>
      <p class="price">Free</p>
    </div>
  </div>
  <!-- Taxes -->
  <div class="mystery_box">
    <div>
      <h2 class="title">Taxes</h2>
    </div>
    <div>
      <h2 class="price">SAR <strong>0</strong></h2>
    </div>
  </div>
  <!-- Total -->
  <div class="mystery_box">
    <div>
      <h2 class="title">Total</h2>
    </div>
    <div>
      <h2 class="price">SAR <strong>456</strong></h2>
      <p class="billing">Monthly</p>
    </div>
  </div>
</div>